<%- include('./encabezado.ejs')%>
<%- include('./menu.ejs')%>

    <div class="blogs">
        <h2>Articulos de Blog</h2>
    </div>

    <% if(blogs.length > 0){ %>
        <ul>
            <% blogs.forEach(blog => { %>
                <li>
                    <h3><%= blog.titulo %></h3>
                    <p><%= blog.autor %></p>
                    <p><%= blog.contenido %></p>
                </li>
            <% }); %>
        </ul>   
    <% }  else { %>
        <p>No hay artículos disponibles</p>
    <% } %>
    

<%- include('./piedepagina.ejs')%>